ColumnLimit: 119
UseTab: Never
TabWidth: 4
IndentWidth: 4
NamespaceIndentation: All
BreakBeforeBraces: Linux
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 9999
PenaltyBreakBeforeFirstCallParameter: 9999
PenaltyBreakAssignment: 9999
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false

# Alignment code
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignOperands: Align
PointerAlignment: Right
